Repository open-metrify/metrify: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, Type checks

format:
  name: Formatting
  entry: poetry run autopep8
  language: system
  require_serial: true

lint:
  name: Lint
  entry: poetry run pylint
  language: system
  require_serial: true

Type checks:
  name: mypy
  entry: poetry run mypy
  language: system
  require_serial: true

; )
  docs/source/installation.rst
  tests/log/__init__.py
  tests/log/test_log.py
Due: format, lint

Deploying to gh-pages from @ open-metrify/metrify@eacf78dddafdf110b760e9bf2078c64b5dc6ef09 🚀
  _sources/impl/metrify/index.rst.txt
  _sources/impl/metrify/log/index.rst.txt
  _sources/installation.rst.txt
  api.html
  genindex.html
  impl/index.html
  impl/metrify/exception/index.html
  impl/metrify/github/auth/index.html
  impl/metrify/github/auth/jobs.html
  impl/metrify/github/auth/strategies.html
  impl/metrify/github/index.html
  impl/metrify/github/utils/index.html
  impl/metrify/hello/index.html
  impl/metrify/hello/strategies.html
  impl/metrify/index.html
  impl/metrify/log/index.html
  impl/metrify/model/index.html
  installation.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: none

estudo: ideias básicas
  metrify/model/__init__.py
Due: format, lint, Type checks

estudo: mais ideias
  metrify/model/__init__.py
Due: format, lint, Type checks

estudos: Queries básicas
  .graphqlrc.yml
  metrify/__init__.py
  metrify/github/auth/jobs.py
  metrify/github/auth/strategies.py
  metrify/github/issues/jobs.py
  metrify/github/issues/strategies.py
Due: format, lint, Type checks

o meudeus oq foi que eu fiz
  metrify/github/auth/jobs.py
  metrify/github/auth/model.py
  metrify/github/auth/strategies.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/github/auth/test_strategies.py
  tests/github/test_utils.py
Due: format, lint, Type checks

wip: Stuff
  metrify/__init__.py
  metrify/github/issues/jobs.py
  metrify/github/issues/strategies.py
  metrify/github/projects/__init__.py
  metrify/github/projects/jobs.py
  metrify/github/projects/strategies.py
Due: format, lint, Type checks

corrigindo erros de teste
  metrify/github/auth/model.py
  mypy.ini
  stubs/flask_apscheduler/scheduler.pyi
  stubs/flask_pymongo/__init__.pyi
  tests/github/auth/test_strategies.py
Due: format, lint, Type checks

wip
  metrify/__init__.py
  metrify/github/projects/jobs.py
  metrify/github/projects/strategies.py
  metrify/graphql/__init__.py
  metrify/graphql/queries/ProjectsQuery.gql
Due: format, lint, Type checks

w no longer ip
  metrify/github/auth/strategies.py
  metrify/github/issues/strategies.py
  metrify/github/model/__init__.py
  metrify/github/projects/strategies.py
  metrify/graphql/__init__.py
  pylintrc
  tests/github/auth/test_strategies.py
Due: format, lint, Type checks

Path conditions:
  format: any of: \.py$, but not: (stubs|docs)/.*
  lint: any of: \.py$, but not: (stubs|docs)/.*
  Type checks: any of: \.py$, but not: (stubs|docs|tests)/.*
